layout {
	pane size=1 borderless=true {
		plugin location="tab-bar"
	}
	pane split_direction="vertical" {
		pane size="45%" split_direction="horizontal" {
			pane size="70%" command="yazi"
			pane size="30%"
		}
		pane size="55%" split_direction="horizontal" {
			pane size="60%" command="claude" focus=true
			pane size="40%" command="lazygit"
		}
	}
	pane size=1 borderless=true {
		plugin location="status-bar"
	}
}
